body {
}

pre.prettyprint {
	font-size: 11px;
	line-height: 13px;
	tab-size: 4;
}
pre.prettyprint li {
	line-height: 13px;
	list-style-type: decimal !important;
	background: #f5f5f5;
	margin-left: 15px;
}
pre.prettyprint ol {
}

.navbar select {
	width: 100%;
}

.nav-list li {
	/*white-space: nowrap;*/
}

